<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" th:href="@{/res/sport.png}" href="../static/res/sport.png" type="image/x-icon">
	<title>wk运动</title>
	<link rel="stylesheet" th:href="@{/css/index.css}" href="../static/css/index.css" type="text/css"/>
	<script th:src="@{/js/crypto-js.min.js}" src="../static/js/crypto-js.min.js" type="text/javascript"></script>
</head>
<body>
	<div id="content">
		<h1>wk运动</h1>
		<text id="introduce">编辑如下信息,自动体育运动</text>
		<text id="show">该网站免费且不会保留任何用户的任何数据,所有数据均由学校api获取得到<br>网站开发者正在考虑购买:<a href="https://www.amazon.cn/dp/B0BFXKSFNT/ref=sr_1_1">Flipper Zero（FLP-ZW-R04）亚马逊</a>&nbsp;<a href="https://item.taobao.com/item.htm?id=682905108733">Flipper Zero 淘宝</a><br><a href="https://github.com/xmexg/wkyd">加入程序建设:https://github.com/xmexg/wkyd</a></text>
		<text id="note">请注意,该程序没有编写任何数据合理性检验的代码,你可以把信息编辑成任何你想要的样子,包括但不限于:
			<ul>
				<li>无地图提交或把1cm的地图路线说成3km的长度</li>
				<li>向学校服务器插入xss,sql恶意代码</li>
				<li>发送不符合学校要求的运动数据</li>
				<li>在士官学院下午训练过程中跑步!</li>
				<li>制作发生时间倒流的数据</li>
				<li>...</li>
			</ul>
		</text>
		<div id="sponsor">
			<image th:src="@{/res/Flipper.png}" src="../static/res/Flipper.png" id="sponsorimg" height="100%"></image>
			<div id="sponsor_info">
				<h2>赞助开发者</h2>
				<p id="tip">该网站免费,你可以点击下方按钮跳过赞助直接进行校园运动<br>将二维码保存并发送给自己,在聊天界面扫码即可赞助<br>赞助时,请备注你的学号,开发者会做记录<br><br>开发者只收到极少的赞助,开发者正在考虑将服务器用于其他用途,或许在不久的未来,该服务器将只为熟人提供免费服务,不为陌生人提供服务,减小该程序占用的系统资源</p>
				<div id="sponsorbtn">
					<button id="sponsorbtn1" onclick="sponsorbtn1()" style="font-size: 3em;">我已赞助开发者</button>
					<button id="sponsorbtn2" onclick="sponsorbtn2()">下次一定</button>
				</div>
			</div>
			<image th:src="@{/res/wechatpay.png}" src="../static/res/wechatpay.png" id="wechatpay" height="100%"></image>
		</div>
		<div id="TheForm">
			<!-- 这个form大概率会弃用,先留着 -->
			<form id="Form" name="usrform"  action="updata" method="post">
				<div class="fd">salt:<input class="U D block" type="text" name="salt" id="salt" placeholder="salt(8位0-9和a-f,不合规无法提交)" oninput="saltchange()" maxlength="8" ><image th:src="@{/res/redo.png}" src="../static/res/redo.png" id="saltredo" class="forminputimg"></image></div>
				<div class="fd">sign:<input class="U D block" type="text" name="sign" id="sign" placeholder="访问学校服务器时的sign" disabled></div>

				<div class="fd">学号:<input class="H block" type="text" name="id" id="id" placeholder="学号" th:value="${user_id}" required></div>
				<p>苹果用户最好寻找安卓备用机</p>
				<p>注意大小写,iOS是苹果,ios什么也不是;Xiaomi是小米,xiaomi什么也不是</p>
				<div class="fd">系统类型:<input class="H block" type="text" name="ostype" id="ostype" placeholder="系统类型(android/iOS)" required value="android"></div>
				<div class="fd">版本号:<input class="H block" type="text" name="version" id="version" placeholder="安卓:系统版本号13/苹果:软件版本号1.0.2" required></div>
				<div class="fd">手机型号:<input class="H block" type="text" name="phone" id="phone" placeholder="(Xiaomi M2011K2C/iPhone14,7)" required value="Xiaomi M2011K2C"></div>
				<div class="fd">苹果:<input class="H block" type="text" name="OsVersion" id="OsVersion" placeholder="苹果需额外填写系统版本号(16.3.1)"></div>
				<div class="fd">UA:<input class="H D block" type="text" name="useragent" id="useragent" placeholder="请求头(okhttp/4.5.0)" required value="okhttp/4.5.0" disabled></div>

				<div class="fd">运动距离(米):<input class="block" type="number" name="totalGeoLength" id="totalGeoLength" placeholder="运动距离(3030),锁定状态下自动填写" disabled><image th:src="@{/res/lock.png}" src="../static/res/lock.png" id="totalGeoLengthLock" class="forminputimg" alt="锁定该值"></image></div>
				<div class="fd">运动时间(秒):<input class="block" type="number" name="totalTimeLength" id="totalTimeLength" placeholder="运动时长(1469),锁定状态下自动填写" disabled><image th:src="@{/res/lock.png}" src="../static/res/lock.png" id="totalTimeLengthLock" class="forminputimg" alt="锁定该值"></image></div>
				<div class="fd">开始时间:<input class="block" type="datetime-local" name="beginTime" id="beginTime" step="1" placeholder="开始时间(2023-03-16 11:13:27)"></div>
				<div class="fd">结束时间:<input class="block" type="datetime-local" name="endTime" id="endTime" step="1" placeholder="结束时间(2023-03-16 11:15:40)"></div>
				<div class="fd">校区:<input class="D block" type="text" name="campus" id="campus" placeholder="校区(1)" value="1" disabled></div>

				<div class="fd">节点间隔:<input class="block" type="number" id="nodespace" placeholder="手机:0,电脑:3,提高节点间隔,减少路线锯齿" onchange="nodespacechange()"></div>

				<div class="fd">地图类型:
					<select class="S block" name="mapdatatype" id="mapdatatype">
						<option value="m" selected onclick="mapshowmap()">画出跑步路线</option>
						<option class="D" value="b" onclick="mapshowtext()">自定义跑步json数据</option>
					</select>
				</div>
				<div id="mapcanvasdrawinfo">
					<div class="mapcanvasdrawinfoc_div"><div class="mapcanvasdrawinfoc_div_d1">节点总数:</div><div class="mapcanvasdrawinfoc_div_d2" id="mcdid1_1"></div></div>
					<div class="mapcanvasdrawinfoc_div"><div class="mapcanvasdrawinfoc_div_d1">记录节点:</div><div class="mapcanvasdrawinfoc_div_d2" id="mcdid1_2"></div></div>
					<div class="mapcanvasdrawinfoc_div"><div class="mapcanvasdrawinfoc_div_d1">参考路程(米):</div><div class="mapcanvasdrawinfoc_div_d2" id="mcdid2"></div></div>
				</div>
				<div id="mapcanvasdiv">
					<div id="get4point">获取打卡点(不必要)<div id="get4pointres"></div></div>
					<!-- 在画板顶层放置一个隐形的div,用于放置一些标记 -->
					<div id="canvasTOP">
						<!-- <image id="testimg" th:src="@{/res/local_br.png}" src="../static/res/local_br.png" width="20px" style="left: 310.31583182445206px;top: 278.5985327600884px;"></image> -->
					</div>

					<canvas id="mapcanvasdivcan" width="690" height="690"></canvas>
					<textarea id="mapcanvasdivtext" class="D" name="mapdata"  placeholder="自定义跑步json数据,此处文本会作为latLng的值"></textarea>
				</div>
				<div class="fd" id="subdata">完成运动</div>
			</form>
		</div>
		<div id="res"></div>
	</div>
</body>

	<script th:src="@{/js/index.js}" src="../static/js/index.js" type="text/javascript" defer></script>
	<script type="text/javascript">
		alert("开发者只收到极少的赞助\n开发者正在考虑将服务器用于其他用途\n或许在不久的未来,该服务器将只为熟人提供免费服务,不为陌生人提供服务,减小该程序占用的系统资源");
	</script>
</html>
