body{
    padding: 0px;
	margin: 0px;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(180deg,rgb(137 211 246),rgb(255,255,255));
}

#testimg{
	position: absolute;
}

#content{
	width: 90%;
	min-width: 700px;
	height: 100%;
	/* background: #74c0fc; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#sponsor{
	width: 850px;
	height: 450px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	background: #FFFFFF;
	padding: 20px;
	margin: 20px;
	border-radius: 20px;
	float: left;
}

#sponsorimg {
    height: 70%;
	display: flex;
	align-items: center;
	position: absolute;
}

#sponsor_info{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0 10px 0 0;
	background-image: linear-gradient(135deg, #fa5252, #1e90ff);
	background-clip: text;
	-webkit-background-clip: text;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
	color: transparent;
	height: 100%;
	z-index: 2;
}

#wechatpay{
	z-index: 3;
}

h1{
	font-size: 2.5em;
	color: #f0fcff;
	letter-spacing: 2em;
}

#introduce{
	font-size: 1.3em;
	color: #f0fcff;
	padding: 10px 20px;
	transition: 0.5s;
	border-radius: 20px;
}

#introduce:hover{
	color: #7b8494;
	background: #f0fcff;
}

#note{
	font-size: 1.2em;
	padding: 10px;
	color: #f5222d;
}

#show{
	font-size: 1.4em;
	padding: 10px;
	color: #0050b3;
}

#TheForm{
	/* width: 100%; */
	display: none;
	padding: 30px;
	border-radius: 20px;
	background: rgba(245, 243, 242, 0.5);
}

#TheForm input{
	width: 70%;
}

#Form{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#TheForm text{
	display: flex;
}

.fd{
	width: 90%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px;
}

.block{
	font-size: 1.2em;
	padding: 10px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.7);
	
}

.D{
	background: #ffa39e;
}

#saltsignnote{
	font-size: 1.2em;
	color: #f5222d;
}

#saltredo{
	height: 30px;
	width: 30px;
	border-radius: 20px;
	padding: 5px 10px;
	transition: 0.5s;
}

#saltredo:hover{
	background: rgba(255, 255, 255, 0.7);
}

#mapcanvasdrawinfo{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 690px;
	font-size: 1.1em;
	border-radius: 20px 20px 0 0;
	border: #000000 solid 3px;
	background: rgba(255, 255, 255, 0.7);
}

#mapcanvasdrawinfo div{
	display: flex;
}

.mapcanvasdrawinfoc_div_d2{
	color: #9254de;
}

#mapcanvasdiv{
	position: relative;
	width: 690px;
	height: 690px;
	/* max-width: 690px;
	max-height: 690px; */
	border: #000000 solid 3px;
	background: #e9ecef;
}

#canvasTOP{
	width: 100%;
	height: 100%;
	z-index: 3;
	position: relative;
	/*background: rgba(255, 255, 255, 0.7);*/
	pointer-events: none;/*不响应鼠标事件*/
}

.the_point{
    display: flex;
    position: absolute;
    width: 20px;
    height: 20px;
}

#mapcanvasdivcan{
    position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	/* 背景图片 */
	background-image: url(../res/wkmap.png);
	background-repeat: no-repeat;/* 不重复 */
	background-size: 100% 100%;/* 大小 */
}

#mapcanvasdivtext{
	width: 100%;
	height: 100%;
	border: none;
	margin: 0px;
	max-width: 690px;
	max-height: 690px;
	display: none;
	resize: none;
}

#get4point{
	z-index: 4;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 0px;
	padding: 0 10px 10px 0;
    max-width: 30%;
	color: #722ed1;
    background: rgba(179, 162, 232, 0.7);
    border-radius: 0 0 10px 0;
}

#get4point:hover{
    background: rgba(179, 162, 232, 0.9);
}

#get4pointres{
    color: #e74c3c;
}

#subdata{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 1.3em;
	background: rgba(186, 231, 255, 0.7);
	transition: 0.5s;
}

#subdata:hover{
	background: rgba(186, 231, 255, 1);
}

#res{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	max-width: 690px;
	margin: 10px;
}


.res_n{
	color: #a8071a;
}

.res_wr{
	color: #722ed1;
	background: #e6f7ff;
	max-width: 690px;
	overflow-y: hidden;
	overflow-x: scroll;
}
